<div class="event">
  <%= link_to "hofe" %>
  <div class="event__body">
    <%= link_to "#", class: :card__title%>
    <p class="event__summary">
      <%= "hoge" %>
    </p>
    <%= link_to "#", class: :card__user %>
  </div>
</div>