<footer class="footer">
      <div class="footer-logo">
            <%= link_to image_tag("footer-logo.png", class: :logo), root_path %>
      </div>
      <p class="copyright">Copyright © EVENT MATCHING All rights reserved.</p>
</footer>