<%= render "header-second" %>
<div class="events-create-contents">
  <div class="event-create-main">
    <h1 class="events-create-title">イベントの編集</h1>
    <%= render "event_form" %>
  </div>
</div>
<%= render "footer" %>