<%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "イベントを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="main-content">
  <div class="main-super">
   <img src="images/index-logo.jpg" alt="トップ画像" class="top-image">
  </div>
</div>