.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 45%;
  margin-right: 5%;
  height: 35px;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  padding: 5px 16px 8px;
  border: 1px solid black;
}

.birthday-select {
  margin-top: 5px;
  border-radius: 4px;
  resize: none;
  height: 30px;
  margin-left: 5px;
}

.days {
  display: block;
}

