* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div,
tbody,
tr {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

.header {
  background-color: powderblue;
  padding: 20px 0;
  align-items: center;
  
}
.inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  font-size: 25px;
}

.nav__right {
  border: 2px solid #000000;
  background-color: #fafafa;
}

.logo {
  width: 200px;
}

.nav__btn{
  display: inline-block;
  padding: 0.6em 1.6em;
  font-size: 1.0em;
  color: #3b4043;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: 600;
}
.nav__btn:hover{
  color: rgb(135, 158, 235);
}

.login_user_name{
  display: inline-block;
  font-size: 1.2em;
  color: #000000;
  padding: 0.6em 1.6em;
  font-weight: 600;
  text-decoration: none;
}
.login_user_name:hover{
  color: rgb(135, 158, 235);
}

.nav__logout{
  display: inline-block;
  padding: 0.6em 1.6em;
  font-size: 1.0em;
  color: #000000;
  text-decoration: none;
  user-select: none;
  font-weight: 600;
}
.nav__logout:hover{
  color: rgb(135, 158, 235);
}

.header-second {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: powderblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
}

.form__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.notifications {
  color: black;
  text-align: center;  
}
.notice {
  background-color: orange;
  font-size: 20px;
}

.alert {
  background-color: orange;
}

.footer {
  padding-bottom: 60px;
  color: #fff;
  background: rgb(24, 23, 23);
  width: 100vw;
}

.footer-logo {
  text-align: center;
  padding-top: 30px;
}

.copyright {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
}